openapi: 3.0.1
info:
  title: TRONITY Platform Authentication Commands API
  description: The TRONITY Platform API provides normalized access to connected electric vehicle and fleet telematics across 20-plus OEM brands. It exposes vehicle listings and VIN, vehicle data (odometer, location, bulk last-known state, records, trips), battery state of charge and range, charging status and history, remote commands (start/stop charging, wake-up), and webhook subscriptions. Access is secured with OAuth2; an app authenticates with a client_id and client_secret to obtain a Bearer access token, and each request is constrained by the scopes the vehicle owner has granted.
  termsOfService: https://www.tronity.io/en/terms
  contact:
    name: TRONITY Support
    url: https://help.tronity.io
  version: '1.0'
servers:
- url: https://api.tronity.tech
  description: TRONITY Platform API
tags:
- name: Commands
paths:
  /v1/vehicles/{vehicleId}/charge_start:
    post:
      operationId: vehicleControllerChargeStart
      tags:
      - Commands
      summary: Start Charging
      security:
      - bearerAuth: []
      parameters:
      - $ref: '#/components/parameters/VehicleIdPath'
      responses:
        '200':
          description: Charge start command accepted.
  /v1/vehicles/{vehicleId}/charge_stop:
    post:
      operationId: vehicleControllerChargeStop
      tags:
      - Commands
      summary: Stop Charging
      security:
      - bearerAuth: []
      parameters:
      - $ref: '#/components/parameters/VehicleIdPath'
      responses:
        '200':
          description: Charge stop command accepted.
  /v1/vehicles/{vehicleId}/wake_up:
    post:
      operationId: vehicleControllerWakeUp
      tags:
      - Commands
      summary: Wake Up Car
      security:
      - bearerAuth: []
      parameters:
      - $ref: '#/components/parameters/VehicleIdPath'
      responses:
        '200':
          description: Wake-up command accepted.
components:
  parameters:
    VehicleIdPath:
      name: vehicleId
      in: path
      required: true
      description: The vehicle identifier.
      schema:
        type: string
  securitySchemes:
    bearerAuth:
      type: http
      scheme: bearer
      bearerFormat: JWT
      description: OAuth2 Bearer access token obtained from POST /oauth/authentication. Available scopes include read_vin, read_vehicle_info, read_odometer, read_charge, read_battery, read_location, write_charge_start_stop and write_wake_up; the effective scope set is constrained by what the vehicle owner has granted.
