openapi: 3.0.1
info:
  title: TRONITY Platform Authentication Vehicles API
  description: The TRONITY Platform API provides normalized access to connected electric vehicle and fleet telematics across 20-plus OEM brands. It exposes vehicle listings and VIN, vehicle data (odometer, location, bulk last-known state, records, trips), battery state of charge and range, charging status and history, remote commands (start/stop charging, wake-up), and webhook subscriptions. Access is secured with OAuth2; an app authenticates with a client_id and client_secret to obtain a Bearer access token, and each request is constrained by the scopes the vehicle owner has granted.
  termsOfService: https://www.tronity.io/en/terms
  contact:
    name: TRONITY Support
    url: https://help.tronity.io
  version: '1.0'
servers:
- url: https://api.tronity.tech
  description: TRONITY Platform API
tags:
- name: Vehicles
paths:
  /v1/vehicles:
    get:
      operationId: getManyVehicles
      tags:
      - Vehicles
      summary: Retrieve many Vehicle
      description: Lists the vehicles available to the authenticated app or fleet.
      security:
      - bearerAuth: []
      responses:
        '200':
          description: A list of vehicles.
          content:
            application/json:
              schema:
                type: array
                items:
                  $ref: '#/components/schemas/Vehicle'
  /v1/vehicles/{id}:
    get:
      operationId: getOneVehicle
      tags:
      - Vehicles
      summary: Retrieve one Vehicle
      security:
      - bearerAuth: []
      parameters:
      - $ref: '#/components/parameters/VehicleId'
      responses:
        '200':
          description: A single vehicle.
          content:
            application/json:
              schema:
                $ref: '#/components/schemas/Vehicle'
    delete:
      operationId: deleteOneVehicle
      tags:
      - Vehicles
      summary: Delete one Vehicle
      security:
      - bearerAuth: []
      parameters:
      - $ref: '#/components/parameters/VehicleId'
      responses:
        '200':
          description: Vehicle deleted.
  /v1/vehicles/{vehicleId}/vin:
    get:
      operationId: vehicleControllerVin
      tags:
      - Vehicles
      summary: Get vin from the vehicle
      security:
      - bearerAuth: []
      parameters:
      - $ref: '#/components/parameters/VehicleIdPath'
      responses:
        '200':
          description: The vehicle VIN.
          content:
            application/json:
              schema:
                type: object
                properties:
                  vin:
                    type: string
components:
  parameters:
    VehicleIdPath:
      name: vehicleId
      in: path
      required: true
      description: The vehicle identifier.
      schema:
        type: string
    VehicleId:
      name: id
      in: path
      required: true
      description: The vehicle identifier.
      schema:
        type: string
  schemas:
    Vehicle:
      type: object
      properties:
        id:
          type: string
        scopes:
          type: array
          items:
            type: string
        created_at:
          type: string
          format: date-time
        updated_at:
          type: string
          format: date-time
  securitySchemes:
    bearerAuth:
      type: http
      scheme: bearer
      bearerFormat: JWT
      description: OAuth2 Bearer access token obtained from POST /oauth/authentication. Available scopes include read_vin, read_vehicle_info, read_odometer, read_charge, read_battery, read_location, write_charge_start_stop and write_wake_up; the effective scope set is constrained by what the vehicle owner has granted.
